<mat-card class="card">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form.controls as f">
      <h2 class="mat-h2">Log In</h2>
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input
          matInput
          placeholder="Enter your username"
          formControlName="email"
        />
        <mat-error *ngIf="f.email.errors as e">
          <ng-container *ngIf="e.required"> Email is required </ng-container>
          <ng-container *ngIf="e.email"> Invalid email </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter your password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="f.password.errors as e">
          <ng-container *ngIf="e.required"> Password is required </ng-container>
          <ng-container *ngIf="e.minlength">
            Password must be at least 3 characters
          </ng-container>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
</mat-card>
