<div class="container" [class.is-mobile]="matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">App</h1>
    <div class="seperator"></div>
    <a routerLink="/login" class="mat-caption logout">Logout</a>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="matches ? 'over' : 'side'"
      [opened]="!matches"
      [fixedInViewport]="matches"
      fixedTopGap="56"
      class="sidenav"
    >
      <app-sidemenu></app-sidemenu>
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
